configuration {

    timeout {
        action: "kb-cancel";
        delay:  0;
    }

    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}
@theme "/home/gaybe/.local/share/rofi/themes/squared-material-red.rasi"
